{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block header %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>
<p>Este tablero muestra los datos más relevantes e importantes del club</p>

<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  my-4">
    <h1 class="h3">Contabilidad</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group  me-2" role="group" aria-label="Basic example">
            {% if perms.contabilidad.view_entrada or perms.contabilidad.view_salida%}
            <a href="{% url 'contabilidad' %}" class="btn btn-sm btn-outline-secondary ">
                <i data-feather="dollar-sign"></i> Ver contabilidad
            </a>
            {% endif %}
            {% if perms.contabilidad.add_entrada %}
            <a href="{% url 'entrada-new' %}" class="btn btn-sm btn-outline-secondary ">
                <i class="text-success" data-feather="plus-circle"></i> Nuevo Ingreso
            </a>
            {% endif %}
            {% if perms.contabilidad.add_salida %}
            <a href="{% url 'salida-new' %}" class="btn btn-sm btn-outline-secondary">
                <i class="text-danger" data-feather="minus-circle"></i> Nuevo Egreso
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% if perms.contabilidad.view_entrada or perms.contabilidad.view_salida%}

<div class="row">
    {% if perms.contabilidad.view_entrada %}
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow h-100">
            <h5 class="card-header bg-info text-white">Total de Ingresos</h5>
            <div class="card-body">
                <h5 class="card-title">${{entrada_mes_actual_importe.importe__sum|floatformat:2|intcomma}}</h5>
                <p class="card-text">Con un total de {{entradas_mes_actual_conteo}} ingresos
                </p>
                <!-- <p class="card-text text-success">18.2% increase since last month</p> -->
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.contabilidad.view_salida %}
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow h-100">
            <h5 class="card-header bg-info text-white">Total de Egresos</h5>
            <div class="card-body">
                <h5 class="card-title">${{salidas_mes_actual_importe.importe__sum|floatformat:2|intcomma}}</h5>
                <p class="card-text">Con un total de {{salidas_mes_actual_conteo}} egresos
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.contabilidad.view_entrada and perms.contabilidad.view_salida%}
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card shadow h-100">
            <h5 class="card-header bg-info text-white">Saldo del mes</h5>
            <div class="card-body">
                {% if saldo > 0 %}
                <h5 class="card-title text-success ">${{saldo|floatformat:2|intcomma}}</h5>
                <p class="card-text">Saldo a favor</p>
                {% elif saldo == 0 %}
                <h5 class="card-title">${{saldo|floatformat:2|intcomma}}</h5>
                <p class="card-text">Ni una ni otra</p>
                {% elif saldo < 0 %} <h5 class="card-title text-danger">${{saldo|floatformat:2|intcomma}}</h5>
                    <p class="card-text">Saldo en contra</p>
                    {% else %}
                    <h5 class="card-title">${{saldo|floatformat:2|intcomma}}</h5>
                    <p class="card-text">Sin cambios aun</p>
                    {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <!-- <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
    <div class="card shadow-sm h-100">
      <h5 class="card-header bg-info text-white">Pendientes reembolso</h5>
      <div class="card-body">
        <h5 class="card-title">64k</h5>
        <p class="card-text">Feb 1 - Apr 1, United States</p>
      </div>
    </div>
  </div> -->
</div>
{% else %}
<div class="row">
    <div class="col">
        <p>Sin permisos</p>
    </div>
</div>

{% endif %}

<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  my-4">
    <h1 class="h3">Miembros y familias</h1>
    <div class="btn-toolbar mb-2 mb-md-0">

        <div class="btn-group me-2" role="group" aria-label="Basic example">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'miembros' %}"> Ver miembros</a>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'calendar-cumple' %}"> Cumpleaños</a>
            {% if perms.club.add_familia %}
            <a href="{% url 'familia-new' %}" class="btn btn-sm btn-outline-secondary">
                <i class="text-success" data-feather="user-plus"></i> Nueva familia
            </a>
            {% endif %}
            {% if perms.club.add_miembro %}
            <a href="{% url 'miembro-new' %}" class="btn btn-sm btn-outline-secondary">
                <i class="text-success" data-feather="user-plus"></i> Nuevo miembro
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% if perms.club.view_miembro %}
<div class="row my-4">
    <div class="col mb-4 mb-lg-0">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for key,value in tipo_miembro_count.items %}
            <div class="col">
                <div class="card shadow h-100">
                    <h5 class="card-header bg-primary text-white">{{value.tipo_miembro}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{value.counts}}</h5>
                        <p class="card-text">Total de {{value.tipo_miembro}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col">
                <div class="card shadow h-100">
                    <h5 class="card-header bg-primary text-white">Total de miembros</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{miembro_count}}</h5>
                        <p class="card-text">Total de todos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row my-4">
    <div class="col mb-4 mb-lg-0">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card shadow h-100">
                    <h5 class="card-header bg-primary text-white">Aventureros</h5>
                    <div class="card-body">
                        <canvas id="AventurerosCount"></canvas>
                        {{miembros_tipos|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% else %}
<div class="row my-4">
    <div class="col">
        <p>Sin permisos</p>
    </div>
</div>
{% endif %}


{% endblock %}


{% block JavaScript %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{ claseAventureros|json_script:"claseAventureros" }}

<script>
    const value = JSON.parse(document.getElementById('claseAventureros').textContent);
    const ctx = document.getElementById('AventurerosCount');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: value.labels,
            datasets: [{
                label: 'Total',
                data: value.data,
                backgroundColor: value.colors,
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom',
                    display: true,
                },
                title: {
                    display: false,
                    text: 'Aventureros por clase'
                }
            }
        }
    });
</script>
{% endblock %}